# Windows, IDE & Personal preferences
desktop.ini
folder.ico
.vscode
.editorconfig
.eslintrc.js

# (p)npm
node_modules
package-lock.json
pnpm-lock.yaml

# Local Netlify folder
.netlify

# Distribution or Generated output
dist
public

# dotenv environment variables file
.env*

# Logs
logs
*.log*

# This project
site/_themes/hyde/layouts/css/styles.css
