# Windows, IDE & Personal preferences
desktop.ini
folder.ico
.vscode/

# (p)npm
node_modules/
package-lock.json
pnpm-lock.yaml

# This project specific files & directories
public/
site/_themes/hyde/layouts/css/styles.css
