---
permalink: /feeds.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.tagline }}</description>
    <lastBuildDate>{{ site.time | dateRSS }}</lastBuildDate>
    <atom:link href="{{ site.url }}{{ page.url }}" rel="self" type="application/rss+xml"/>
    {% for post in collections.posts | reverse | limit(20) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url | url}}</link>
      <description>{{ post.templateContent | excerpt }}</description>
      <pubDate>{{ post.date | dateRSS }}</pubDate>
      <guid>{{ site.url }}{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>