<!doctype html>
<html lang="{{ site.locale }}">
{% include "head.njk" %}
<body class="theme-base-0b">

{% include "sidebar.njk" %}

  <div role="main" class="content container">
{% block content %}{{ content | safe }}{% endblock %}
  </div>

  {% block Scripts %}
  {% endblock %}
</body>
</html>
