{% extends "default.njk" %}

{% block content %}
    <article class="post" data-input-path="{{ page.filePathStem }}">
      <h1 class="post-title">{{ title }}</h1>
      <time class="post-date" datetime="{{ date | dateISO }}">{{ date | dateFormat('LL') }}</time>
{{ content | safe | trim }}
    </article>

    <div class="related">
      <h2>Related Posts</h2>
      <ul class="related-posts">
        {%- for post in collections.posts | reverse %}
        {%- if post.url != page.url %}
        <li><h3><a href="{{ post.url }}">{{ post.data.title }} <small>{{ post.date | dateFormat('LL') }}</small></a></h3></li>
        {%- endif %}
        {%- endfor %}
      </ul>
    </div>
{% endblock %}
