@import "./fonts.css";

@import "./poole.css";
@import "./hyde.css";

article {content-visibility: auto;}
article img {width:100%; height:auto;}

/* Poole & Hyde default CSS does not pass today's lighthouse tests */

a {color: #1a6091;}                             /* darken(#268bd2, 15%); */
.post-date {color: #747474; font-size: 90%;}    /*  darken(#9a9a9a, 15%); */
.related-posts li small {color: #747474;}

.sidebar-nav-item {line-height: 2.75;}
@media (min-width: 48em) {
  .sidebar-nav-item {line-height: 1.75;}
}
