@import "./font-abril-fatface.css";
@import "./font-pt-sans.css";

@import "./poole.css";
@import "./hyde.css";

@import "highlight.js/styles/github-dark.css";

/* article {content-visibility: auto;} */
article img {width:100%; height:auto;}

/* Poole & Hyde default CSS does not pass today's lighthouse tests */

a {color: #1a6091;}                             /* darken(#268bd2, 15%); */
.post-date {color: #747474; font-size: 90%;}    /* darken(#9a9a9a, 15%); */
.related-posts li small {color: #747474;}

.sidebar-nav-item {line-height: 2.75;}
@media (min-width: 48em) {
  .sidebar-nav-item {line-height: 1.75;}
}

/* WCAG2AA sidebar & example-content page */
.sidebar {color: rgb(255, 255, 255, 0.7);}
blockquote {color: #666666;}  /* darken(#7a7a7a, 8%) */
code {color: #b04751;}        /* darken(#bf616a, 8%) */

/* As base-16 colors had to be reset */
.theme-base-0b .sidebar {background-color: #690900;}
.theme-base-0b .content a, .theme-base-0b .related-posts li a:hover {color: #690900;}
